
.menu-container {
display: flexbox;
justify-content: center;

}

.menu {
    display: flex;
    justify-content: space-between;
    
    
}

.links {
    display: flex;
    justify-content: flex-end;

}

.home {
    margin-left: 20px;
}

.login {
    margin-left: 20px;
    margin-right: 20px;
}

.signup-form-form {
    flex-wrap: wrap;
}

.btn {
    margin-left: 20px;
}


.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}


.footer-container {
    display: flex;
    justify-content: space-around;
    
    
}

.socials {
    display: flex;
    
}

.credit {
    
    color: white
    
}
.contact {
    color: white;
    margin-left: 20px;
    
}

.navbar-nav.navbar-right {
    justify-content: space-between;
}

.img {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
}

.login-form {
    margin-left: 20px;
    padding-top: 60px;
    
}
.mb3 {
    margin-bottom: 20px;
}

.foot-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    
}

.signup-form {
    padding-top: 60px;
    margin-left: 20px;
}

.welcome {
    padding-top: 60px;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
}


section{
    padding:2rem 9%;
}




.categories {
    padding-top: 150px;
}
.categories .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(56rem, 1fr));
    gap:1.5rem;
}

.categories .box-container .box{
    padding:3rem 2rem;
    border-radius: .5rem;
    background:#fff;
    box-shadow: var(--box-shadow);
    outline:var(--outline);
    outline-offset: -1rem;
    text-align: center;
}

.categories .box-container .box:hover{
    outline:var(--outline-hover);
    outline-offset: 0rem;
}

.categories .box-container .box img{
    margin:1rem 0;
    height:35rem;
}

.categories .box-container .box h3{
   font-size: 2rem;
   color:var(--black);
   line-height: 1.8;
}

.categories .box-container .box p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1.8;
    padding:1rem 0;
}












